<a href="https://colab.research.google.com/github/deokhye/duck/blob/master/2020.07.06_mini_project_0201b.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 다음 물음에 답하는 코드를 작성하시오.

1). A학급의 학생 이름은 다음과 같다:

Bob <br>
John <br>
Sara <br>
Jack <br>
John <br>
Paul <br>
Belinda <br>
Jessica <br>

위 자료를 리스트 a로 정리해본다.

In [3]:
a=['Bob', 'John', 'Sara', 'Jack', 'John', 'Paul', 'Belinda', 'Jessica']
a

['Bob', 'John', 'Sara', 'Jack', 'John', 'Paul', 'Belinda', 'Jessica']

학생 이름을 대문자화 한 리스트 A를 만들어 보시오.

In [4]:
A=[]

for i in a:
  A.append(i.upper())

print(A)

['BOB', 'JOHN', 'SARA', 'JACK', 'JOHN', 'PAUL', 'BELINDA', 'JESSICA']

2). B학급의 학생 이름은 다음과 같다:

John <br>
John <br>
Rebecca <br>
Paula <br>
Brandon <br>
Elilzabeth <br>
Sara <br>

A학급과 같은 방법으로 대문자화 한 리스트 B를 만들어 보시오.

In [5]:
b=['John', 'John', 'Rebecca', 'Paula', 'Brandon', 'Elilzabeth', 'Sara']
B=[]

for i in b:
  B.append(i.upper())

print(B)

['JOHN', 'JOHN', 'REBECCA', 'PAULA', 'BRANDON', 'ELILZABETH', 'SARA']

3). A학급과 B학급 명부를 통합한 리스트 AB를 만든다. (이어 붙이기) <br>

전체 학생수는?

In [6]:
AB=A+B

len(AB)

15

4). 통합 리스트 AB를 알파벳 순으로 정렬해 본다.

In [7]:
AB.sort()
print(AB)

['BELINDA', 'BOB', 'BRANDON', 'ELILZABETH', 'JACK', 'JESSICA', 'JOHN', 'JOHN', 'JOHN', 'JOHN', 'PAUL', 'PAULA', 'REBECCA', 'SARA', 'SARA']

5). 통합 리스트 AB에서 서로 다른 이름의 가짓수는?

In [9]:
C=set(AB)
print(len(C))

11

6). 통합 리스트 AB에서 'J'로 시작하는 이름만 출력해 본다.

In [12]:
for student in AB:
  if 'J' in student:
    print(student)

JACK
JESSICA
JOHN
JOHN
JOHN
JOHN

7). 통합 리스트 AB에서 'A'로 끝나는 이름만 출력해 본다.

In [13]:
for student in AB:
  if student[-1]=='A':
    print(student)

BELINDA
JESSICA
PAULA
REBECCA
SARA
SARA