<a href="https://colab.research.google.com/github/deokhye/duck/blob/master/review_mini_project_0202a.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### 1 ~ 100 까지의 합을 구하시오 (for 사용):

In [1]:
sum=0
for i in range(1,101):
  sum+= i
print(sum)

5050

#### 1 과 1000 사이의 홀수의 합을 구하시오 (while 사용):

In [11]:
i=1
sum=0
while 1<= i <= 1000:
  if i % 2 == 1:
    sum+= i
  i+= 1
print(sum)

250000

#### 1000과 2000 사이의 홀수의 합을 구하시오 (for 사용):

In [10]:
sum=0
for i in range(1001, 2001, 2):
  sum+= i
print(sum)

750000

#### 1000과 2000 사이의 5배수의 합을 구하시오 (for 사용):

In [12]:
sum=0
for i in range(1000, 2001, 5):
  sum+= i
print(sum)

301500

#### 구구단을 출력해 보시오 (for 사용):

In [19]:
for i in range(2,10):
  for j in range(1,10):

    print("{} * {}=". format(i, j), i*j)

2 * 1= 2
2 * 2= 4
2 * 3= 6
2 * 4= 8
2 * 5= 10
2 * 6= 12
2 * 7= 14
2 * 8= 16
2 * 9= 18
3 * 1= 3
3 * 2= 6
3 * 3= 9
3 * 4= 12
3 * 5= 15
3 * 6= 18
3 * 7= 21
3 * 8= 24
3 * 9= 27
4 * 1= 4
4 * 2= 8
4 * 3= 12
4 * 4= 16
4 * 5= 20
4 * 6= 24
4 * 7= 28
4 * 8= 32
4 * 9= 36
5 * 1= 5
5 * 2= 10
5 * 3= 15
5 * 4= 20
5 * 5= 25
5 * 6= 30
5 * 7= 35
5 * 8= 40
5 * 9= 45
6 * 1= 6
6 * 2= 12
6 * 3= 18
6 * 4= 24
6 * 5= 30
6 * 6= 36
6 * 7= 42
6 * 8= 48
6 * 9= 54
7 * 1= 7
7 * 2= 14
7 * 3= 21
7 * 4= 28
7 * 5= 35
7 * 6= 42
7 * 7= 49
7 * 8= 56
7 * 9= 63
8 * 1= 8
8 * 2= 16
8 * 3= 24
8 * 4= 32
8 * 5= 40
8 * 6= 48
8 * 7= 56
8 * 8= 64
8 * 9= 72
9 * 1= 9
9 * 2= 18
9 * 3= 27
9 * 4= 36
9 * 5= 45
9 * 6= 54
9 * 7= 63
9 * 8= 72
9 * 9= 81

#### 구구단을 출력해 보시오 (while 사용):

In [35]:
i=2
j=1
while i<=9 :
  while j<=9:
    print("{} * {}=". format(i, j), i*j)
    j+=1
  i+=1
  j=1 #이거 중요!

2 * 1= 2
2 * 2= 4
2 * 3= 6
2 * 4= 8
2 * 5= 10
2 * 6= 12
2 * 7= 14
2 * 8= 16
2 * 9= 18
3 * 1= 3
3 * 2= 6
3 * 3= 9
3 * 4= 12
3 * 5= 15
3 * 6= 18
3 * 7= 21
3 * 8= 24
3 * 9= 27
4 * 1= 4
4 * 2= 8
4 * 3= 12
4 * 4= 16
4 * 5= 20
4 * 6= 24
4 * 7= 28
4 * 8= 32
4 * 9= 36
5 * 1= 5
5 * 2= 10
5 * 3= 15
5 * 4= 20
5 * 5= 25
5 * 6= 30
5 * 7= 35
5 * 8= 40
5 * 9= 45
6 * 1= 6
6 * 2= 12
6 * 3= 18
6 * 4= 24
6 * 5= 30
6 * 6= 36
6 * 7= 42
6 * 8= 48
6 * 9= 54
7 * 1= 7
7 * 2= 14
7 * 3= 21
7 * 4= 28
7 * 5= 35
7 * 6= 42
7 * 7= 49
7 * 8= 56
7 * 9= 63
8 * 1= 8
8 * 2= 16
8 * 3= 24
8 * 4= 32
8 * 5= 40
8 * 6= 48
8 * 7= 56
8 * 8= 64
8 * 9= 72
9 * 1= 9
9 * 2= 18
9 * 3= 27
9 * 4= 36
9 * 5= 45
9 * 6= 54
9 * 7= 63
9 * 8= 72
9 * 9= 81